eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
       defaultZone: 'http://${discovery.server.hostName}:${discovery.server.port}/eureka'

discovery:
  server:
    port: 8070
    hostName: 3.13.5.65

management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include:
          - '*'